footer.py-3.bg-info
  .container
    .row.d-flex.justify-content-center
      .col-lg-4.col-md-12.d-flex.flex-column.align-items-center
        img.img-fluid.d-block(src='https://math.ucsd.edu/assets/img/Decorator-5/ucsd-footer-logo-white.png', style='	max-width: 200px;')
